<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	div {
		font-family: 'Montserrat';
	}
</style>

<div class="pg-bg">
	<h1 class="p-4 text-center fw-bold">[Edit article]</h1>
	<%= render 'forme' %>

</div>