<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
	div {
		font-family: 'Montserrat';
	}
</style>

<div class="pg-bg">
	<h1 class="p-4 text-center fw-bold">[Create a new article]</h1>
	
	<div class="container">
		<%= render 'shared/errors' %>
	</div>

	<%= render 'formc' %>
</div>