<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
h1 {
  text-align: center;
  font-family: 'Montserrat';
}

p {
	font-family: 'Montserrat';
  text-align: center;
}
</style>

<h1>There's nothing to talk about</h1>

<p>Okay, I lied. I'll talk a little about me, I'm fe1o a Ruby on Rails developer from Brazil working to bring the most wonderfull aplications to life.</p>

<footer>
  <%= button_to 'Home Page', root_path, method: :get %>
</footer>