<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
h1 {
  text-align: center;
  font-family: 'Montserrat';
}

p {
	font-family: 'Montserrat';
  text-align: center;
}
</style>
<h1>There's nothing to talk about</h1>
<footer>
  <%= button_to 'Home Page', root_path, method: :get %>
</footer>