<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  div {
    font-family: 'Montserrat';
  }
</style>

<div class="container">
  <div class="bg-violet text-light p-5 rounded mt-3 shadow" id="home-banner">
    <h1 class="display-4">A.K.A fe1o</h1>
    <p class="lead">Hello, I'm Luiz Fernando a ruby dev from Brazil. This is my blog project.</p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>

<div class="container" id="at-btns">
  <% @articles.each do |article| %>
    <div class="container my-3">
      <div class="card shadow-lg" style="width: 18rem; height: 13rem;">
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= truncate(article.title, length: 20) %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= button_to 'View', article_path(article), method: :get, class: "btn btn-primary btn-bottom" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<footer class="text-center text-lg-start text-white bg-violet">
<!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4">
    <div class="me-5">
      <span class="text-light" id="footer">Copyright &copy <%= link_to "fe1o", "https://github.com/fe1o", html_options = { target: "_blank", class: "font-monospace fei"} %></span>
    </div>
    <div>
      <a href="https://github.com/fe1o" target="_blank" class="text-white me-4">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>
</footer>