<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  div {
    font-family: 'Montserrat';
  }
</style>

<div>
  <h1>Alpha version of the blog project</h1>
  <p>Here you're going to see CRUD operations in this alpha project of Ruby on Rails</p>
  <small>fe1o project</small>
  <br>
  <%= link_to 'Articles', articles_path %>
  <%= link_to 'About', about_path %>
</div>