<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  div {
    font-family: 'Montserrat';
  }
</style>

<div>
  <div class="container">
    <div class="bg-violet text-light p-5 rounded mt-3">
      <h1 class="display-4">fe1o</h1>
      <p class="lead">Hello, I'm Luiz Fernando a ruby dev from Brazil. This is my blog project.</p>
      <hr class="my-4">
    </div>
  </div>
</div>