@import "bootstrap";

.navbar {

  background-color: #5f4b8b !important;
  font-weight: bold;
}

.bg-violet {

  background-color: #5f4b8b;
}

.dropdown-item {

  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
}