@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.navbar {
  background-color: #5f4b8b !important;
  font-weight: bold;
}

.bg-violet {
  background-color: #5f4b8b;
}

.bg-placeholder {
  background-color: rgb(188, 135, 237);
}

.dropdown-item {
  color: white !important;
}

.pg-bg {
  min-height: 100vh;
  background-color: #cec4d7;
}

.no-dec {
  text-decoration: none;
}

.fei {
  text-decoration: none;
  color: white;
}

.fei:hover {
  text-decoration: underline;
}

.btn-bottom {
  position: absolute;
  bottom: 15px;
}

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
}

#home-banner {
  background-image: asset-url('ruby.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#footer {
  margin-left: 15px;
}

#at-btns {
  display: flex;
  flex-direction: row;
}